### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle/
build/

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Logs ###
logs/
*.log

### Java ###
*.class

### Spring Boot ###
.spring-boot-devtools.properties

.claude/

application.yml
application.properties